h1{
	text-align: center;
	
}
h3{ 
	text-align: center;
	margin:0px;
	padding:6px;
	

	
	
}
section{
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
	clear: right;
	font-size: 20px;
}
@media(min-width: 992px){
.section1{
	background-color: blue;
	box-sizing:border-box;
	width: 32%;
	border: 1px solid black;
	margin:2px;
	margin-left: 4px;
	margin-right: 0PX;
	float:left;
	

	

}
.section1title{
	text-align: center;
	width:  30%;
	height: 40px;
	background-color: yellow;
	border-left: 1px solid black;
	border-bottom:1px solid black; 
	float: right;
	clear: left;
	
	}
.section2{
	background-color: blue;
	box-sizing:border-box;
	width: 32%;
	border: 1px solid black;
    float:left;
    margin: 2px;
    margin-right:15px;
    margin-left:15px;

	}
.section2title{
	width:  30%;
	height: 40px;
	background-color: yellow;
	border-left: 1px solid black;
	border-bottom:1px solid black; 
	float: right;
	clear: left;
	
	}
.section3{
	background-color: blue;
	box-sizing:border-box;
	width: 32%;
	border: 1px solid black;
    float:left;
    margin: 2px;
    margin-right:4px;
    margin-left: 0px;
    }
.section3title{
	width:  30%;
	height: 40px;
	background-color: yellow;
	border-left: 1px solid black;
	border-bottom:1px solid black; 
	float: right;
	clear: left;
	}
}
@media(min-width: 768px) and (max-width: 991px){
.section1{
	background-color: blue;
	box-sizing:border-box;
	width: 48%;
	border: 1px solid black;
	float:left;
	margin-left: 4px;
	margin-right: 0PX;
	margin-bottom: 15px;
	margin-top: 2px;

 	}
.section1title{
	text-align: center;
	width:  30%;
	height: 40px;
	background-color: yellow;
	border-left: 1px solid black;
	border-bottom:1px solid black; 
	float: right;
	clear: left;
	
	}
.section2{
	background-color: blue;
	box-sizing:border-box;
	width: 48%;
	border: 1px solid black;
    float:right;
    margin-top:2px;
    margin-left:5px; 
    margin-right: 4px;
    margin-bottom: 15px;
     


	}
.section2title{
	width:  30%;
	height: 40px;
	background-color: yellow;
	border-left: 1px solid black;
	border-bottom:1px solid black; 
	float: right;
	clear: left;
	
	}
.section3{
	background-color: blue;
	box-sizing:border-box;
	border: 1px solid black;
    float:left;
    margin: 2px;
    margin-top: 10px;
    
    }
.section3title{
	width:  15%;
	height: 40px;
	background-color: yellow;
	border-left: 1px solid black;
	border-bottom:1px solid black; 
	float: right;
	clear: left;
	}
}
@media(max-width: 767px){
.section1{
	background-color: blue;
	box-sizing:border-box;
	border: 1px solid black;
	margin:10px;
	

	

}
.section1title{
	text-align: center;
	width:  30%;
	height: 40px;
	background-color: yellow;
	border-left: 1px solid black;
	border-bottom:1px solid black; 
	float: right;
	clear: left;
	
	}
.section2{
	background-color: blue;
	box-sizing:border-box;
	border: 1px solid black;
    margin: 10px;
     
     


	}
.section2title{
	width:  30%;
	height: 40px;
	background-color: yellow;
	border-left: 1px solid black;
	border-bottom:1px solid black; 
	float: right;
	clear: left;
	
	}
.section3{
	background-color: blue;
	box-sizing:border-box;
	border: 1px solid black;
    margin: 10px;
    
    }
.section3title{
	width:  30%;
	height: 40px;
	background-color: yellow;
	border-left: 1px solid black;
	border-bottom:1px solid black; 
	float: right;
	clear: left;
	}
}